# FH_backend .gitignore

### Build & Gradle ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IDE: STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IDE: IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### IDE: NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 환경 변수 / 시크릿 ###
src/main/resources/application-*.yaml
!src/main/resources/application-*.example.yaml
!src/main/resources/application-prod.yaml